# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
env/
.venv/
ENV/

# Streamlit
.streamlit/secrets.toml

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# Environment variables
.env
