# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/
ENV/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Power BI temp/lock files
~$*.pbix
*.pbix.lock

# Logs
*.log

# Distribution / packaging
build/
dist/
*.egg-info/
